{{ define "main" }}
{{ partial "header.html" . }}
<main x-data="log" class="flex flex-col justify-center items-center gap-8 p-8 [&_section]:max-w-6xl [&_section]:w-full">
    <section>
        {{ $types := slice }}
        {{ $techs := slice }}
        {{ $projects := .Site.Data.projects }}
        {{ range $projects }}
        {{ $techsP :=  .technologies }}
        {{ range $techsP }}
        {{ $techs = $techs | append . }}
        {{ end }}
        {{ $types = $types | append .type }}
        {{ end }}
        {{ $techs = sort (uniq $techs) }}
        {{ $types = sort (uniq $types) }}

        <form id="filter" class="flex flex-col gap-8 leading-3 [&_legend]:mb-4 [&_legend]:text-xl [&_legend]:font-extrabold [&_.form-group]:flex [&_.form-group]:flex-wrap [&_.form-group]:gap-4">
            <fieldset data-field="techs">
                <legend>Tecnologias</legend>
                <div class="form-group">
                    {{ range $techs }}
                    <label class="cursor-pointer flex gap-1">
                        <input type="checkbox" name="{{urlize .}}" @change="handleChangeTechnologies"> {{.}}
                    </label>
                    {{ end }}
                </div>
            </fieldset>

            <fieldset data-field="types">
                <legend>Tipos</legend>
                <div class="form-group">
                    {{ range $types }}
                    <label class="cursor-pointer">
                        <input type="checkbox" name="{{.}}" @change="handleChangeTypes"> {{.}}
                    </label>
                    {{ end }}
                </div>
            </fieldset>

            <fieldset data-field="links">
                <legend>Links disponíveis</legend>
                <div class="form-group">
                    <label class="cursor-pointer">
                        <input type="checkbox" name="hasdoc" @change="handleChangeLinks"> Informação
                    </label>

                    <label class="cursor-pointer">
                        <input type="checkbox" name="hasaccess" @change="handleChangeLinks"> Acesso
                    </label>
                </div>
            </fieldset>

            <fieldset data-field="status">
                <legend>Situações</legend>
                <div class="form-group">
                    <label class="cursor-pointer">
                        <input type="checkbox" name="wip" @change="handleChangeStatus"> Em andamento
                    </label>
                </div>
            </fieldset>
        </form>
    </section>

    <section>
        <ul id="projects" aria-label="Projetos" class="grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5">
            {{ range $k, $p := $projects }}
                {{ $techsH := slice }}
                {{ range .technologies }}
                {{ $techsH = $techsH | append (urlize .) }}
                {{ end }}
                <li x-show="filteredProjects.includes('{{ $k }}')"
                    data-id="{{$k}}"
                    data-techs="{{jsonify $techsH}}"
                    data-type="{{.type}}"
                    data-date='{{time.Format "02/01/2006" .date}}'
                    data-hasdoc='{{isset .links "doc"}}'
                    data-hasdemo='{{isset .links "demo"}}'
                    data-hasaccess='{{isset .links "access"}}'
                    data-hasdownload='{{isset .links "download"}}'
                    data-wip="{{eq .wip true}}">
                    {{ partial "project.html" . }}
                </li>
            {{ end }}
        </ul>
    </section>

    {{ $script := resources.Get "/js/log.js" }}
    {{ if not .Site.IsServer }}
        {{ $script = $script | minify | fingerprint }}
    {{ end }}
    <script src="{{$script.Permalink}}"></script>
</main>
{{ end }}
