@import './themes.scss';
@import './_helpers.scss';
@import './random-colors.scss';
@import './layouts/log.scss';
@import './layouts/home.scss';

html {
    -webkit-text-size-adjust: 100%;
    padding-bottom: 4em;
    background: v("background-color");

    color: v("text-color");

    i {
        color: v("text-color");
    }
}

body {
    font-family: sans-serif;
    line-height: 1.5em;
    max-width: 40em;
    padding: 0 2%;
    margin: auto;
}

header {
    margin-top: 25px;
    margin-bottom:10px;
    border-bottom: v("border");
}

a {
    color: v("link-color");
}

a:hover {
    color: v("background-color");
    background-color: v("base-color");

    i::before {
        color: v("background-color");
    }
}

ul {
	list-style: disc;
    padding-left: 1.5rem;
}

ul ul {
	list-style: circle;
}

.menu {
    ul {
        padding: 0;
        margin-bottom: 0.5rem 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    li:not(:last-child) {
        margin-right: 10px;
    }
}

footer {
    color: v("text-color");
    margin-top: 0.5rem;
    text-align: right;
    border-top: v("border");

    ul{
        list-style-type: none;

        display: flex;
        justify-content: center;

        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 0px;
    }

    li {
        margin-right: 10px;
        display: inline-block;
    }
}

#log {
    @include single-log;
}

#home {
    @include single-home;
    @include random-colors;
}
