/* http://txti.es/css/styles.min.css */

:root {
    --onedark-light-black: #282c34; 
    --onedark-dark-black: #16181d; 
    --onedark-light-white: #DBDBDB;
    --onedark-dark-white: #abb2bf;
    --onedark-light-red: #e06c75;
    --onedark-dark-red: #be5046;
    --onedark-green: #98c379;
    --onedark-light-yellow: #e5c07b;
    --onedark-dark-yellow: #d19a66;
    --onedark-blue: #61afef;
    --onedark-magenta: #c678dd;
    --onedark-cyan: #56b6c2;
    --onedark-light-grey: #5c6370;
    --onedark-dark-grey: #4b5263;
}

html {
    -webkit-text-size-adjust: 100%;
    padding-bottom: 4em;
    color: var(--ui-text-color);
    background: var(--ui-background-color);
}
body {
    font-family: sans-serif;
    line-height: 1.5em;
    max-width: 40em;
    padding: 0 2%;
    margin: auto;
}

a {
    color: var(--ui-link-color);
}

a:hover {
    color: var(--ui-background-color);
    background-color: var(--ui-base-color)
}

header {
    margin-top: 25px;
    margin-bottom:10px;
    border-bottom: var(--border);
}
footer {
    color: var(--ui-text-color);
    margin: 20px auto 15px;
    text-align: right;
    margin-bottom: 20px;
    border-top: var(--border);
}

footer ul{
    list-style-type: none;

    display: flex;
    justify-content: center;

    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 0px;
}

footer li {
    margin-right: 10px;
    display: inline-block;
}
