---
---

@import "{{ site.theme }}";

/* onedark
body {
  background: #282C34 !important;
  color: #ABB2BF !important;
}

h1, h2 {
  border-bottom: 1px solid #5C6370 !important;
}

img {
  background-color: inherit !important;
}

a {
  color: #61AFEF !important;
}
*/
