<div class="font-poppins flex overflow-hidden h-full">
    <input type="checkbox" class="hidden peer/wip" {{if .wip}} checked {{end}}>
    <div class="flex-1 shadow border border-slate-400/10 rounded-xl p-4 flex flex-col gap-2 peer-checked/wip:bg-slate-400/10 peer-checked/wip:*:text-gray-300 dark:peer-checked/wip:*:text-slate-600 peer-checked/wip:[&_.project-emoji]:opacity-25 peer-checked/wip:[&_.project-link]:opacity-15">
        <div class="flex gap-2 items-center text-xl">
            <span class="project-emoji flex justify-center items-center bg-slate-400/10 rounded-md shadow w-12 aspect-square">
                {{.emoji}}
            </span>
            <div class="flex flex-col gap-1">
                <div class="text-xs">{{.type}}</div>
                <strong>{{ .name }}</strong>
            </div>
        </div>
        <ul aria-label="tecnologias" class="flex flex-wrap gap-1">
            {{ range .technologies }}
            <li class="project-type items-center rounded-md bg-slate-400/10 px-2 py-1 text-xs">{{ . }}</li>
            {{ end }}
        </ul>
        <p class="text-sm">{{ .description }}</p>
        <ul aria-label="links" class="flex flex-wrap gap-2 py-2 mt-auto">
            {{ if .links.access }}
            <li>
                <a href="{{.links.access}}" type="button" class="project-link project-link-access">
                    Acessar
                </a>
            </li>
            {{ end }}

            {{ if .links.doc }}
            <li>
                <a href="{{.links.doc}}" type="button" class="project-link">
                    Saiba mais
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
