{{ define "main" }}
<main id="home">
    <div class="header">
        <div class="avatar-container">
            <img src="https://github.com/nenitf.png">
        </div>

        <pre id="ascii" aria-hidden="true"></pre>
    </div>

    <div class="container">
        <ul>
            {{ range .Site.Data.home }}
            <a class="link" role="listitem" aria-label="{{.name}}" href="{{.href}}">
                {{with .icon}}
                <i class="{{.}}"></i>
                {{end}}
                <span>
                    {{.name}}
                </span>
            </a>
            {{ end }}
        </ul>
    </div>
</main>
{{ $script := resources.Get "/js/home.js" | minify | fingerprint }}
<script src="{{$script.Permalink}}"></script>
{{ end }}
