{{ define "main" }}
<div class="sticky top-0" x-data="nav" x-show="show" x-transition @scroll.window="handleScroll">
{{ partial "header.html" . }}
</div>
<main x-data="home" class="flex flex-col justify-center items-center [&_section]:w-full [&_section]:max-w-6xl [&_section]:p-8" @mousemove="eyeballtracking">
    <div id="hello-banner" class="hidden sm:flex justify-center colored-segment w-full">
        <section class="flex items-center w-full max-h-[35vh]">
            <div class="m-10">
                <div x-data id="face-container"
                    class="flex items-center relative [&_svg]:max-h-[10vh] sm:[&_svg]:max-h-[30vh] [&_svg]:hover:animate-wiggle cursor-pointer"
                    @click="toggleTheme">
                    <div class="invisible">{{ readFile "static/images/rosto-olhando-baixo.svg" | safeHTML }}</div>
                    <div class="absolute left-0 top-0" x-transition.opacit.delay.duration.30ms x-show="face == 'above'">{{ readFile "static/images/rosto-olhando-acima.svg" | safeHTML }}</div>
                    <div class="absolute left-0 top-0" x-transition.opacit.delay.duration.30ms x-show="face == 'neutral'">{{ readFile "static/images/rosto-neutro.svg" | safeHTML }}</div>
                    <div class="absolute left-0 top-0" x-transition.opacit.delay.duration.30ms x-show="face == 'below'">{{ readFile "static/images/rosto-olhando-baixo.svg" | safeHTML }}</div>
                </div>
            </div>
            <div class="flex flex-col gap-4">
                <div class="flex flex-col gap-1 [&]:text-black [&]:dark:text-white ">
                    <h1 class="text-5xl font-extrabold">Felipe (aka <span class="text-[#7848FA]">Neni</span>)</h1>
                    <h2 class="text-xl">Desenvolvedor Laravel, Go e Flutter</h2>
                </div>
                <ul class="flex gap-2">
                    {{ range .Site.Data.home.main_links }}
                    <a class="button" role="listitem" aria-label="{{.name}}" href="{{.href}}">
                        <span class="flex gap-2 justify-center items-center rounded-md bg-gray-100/80 px-2 py-1 text-lg font-medium text-gray-800 hover:bg-gray-300">
                            {{with .icon}}
                            <i class="{{.}}"></i>
                            {{end}}
                            <span>{{.name}}</span>
                        </span>
                    </a>
                    {{ end }}
                </ul>
            </div>
        </section>
    </div>

    <section>
        <p class="text-3xl font-poppins font-bold">Criação e manutenção de sistemas web</p>
    </section>

    <div class="colored-segment w-full flex justify-center">
        <section class="flex flex-col gap-4">
            <div class="flex gap-4 items-center flex-col sm:flex-row">
                <div class="flex flex-col justify-around sm:items-end w-auto">
                    <div class="text-lg font-bold leading-5 uppercase">Proficiência</div>
                </div>
                <ul class="flex flex-wrap gap-2 justify-center w-full sm:justify-start">
                    {{ range .Site.Data.home.main_skills }}
                    <li class="inline-flex items-center rounded-md uppercase bg-slate-400/10 px-2 py-1">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            <hr class="w-full border-slate-200/10"/>
            <div class="flex gap-4 items-center flex-col sm:flex-row">
                <div class="flex flex-col justify-around sm:items-end w-auto">
                    <div class="text-lg font-bold leading-5 uppercase">Familiaridade</div>
                </div>
                <ul class="flex flex-wrap gap-2 justify-center w-full sm:justify-start">
                    {{ range .Site.Data.home.secondary_skills }}
                    <li class="inline-flex items-center rounded-md uppercase bg-slate-400/10 px-2 py-1">{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </section>
    </div>
    <section class="">
        <h3 class="text-black dark:text-slate-100 text-2xl font-extrabold uppercase mb-4">Projetos open source</h3>
        <ul class="grid gap-2 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {{ $projects := .Site.Data.projects }}
        {{ $projects := where $projects "portfolio" true }}
        {{ $projects := where $projects "show" true }}
        {{ range $projects }}
            <li>{{ partial "project.html" . }}</li>
        {{ end }}
        </ul>
        {{ if (gt ($projects | len) 0) }}
        <div class="w-full flex justify-center py-4">
            <a href="/log" type="button" class="project-link project-link-access">
                Listar todos projetos
            </a>
        </div>
        {{ end }}
    </section>

    <div class="bg-cartoon-yellow dark:bg-slate-900 w-full flex justify-center">
        <section class="mb-20">
            <h3 class="text-black dark:text-slate-100 text-2xl font-extrabold uppercase mb-4">Links</h3>
            <ul class="flex flex-wrap gap-8">
                {{ range .Site.Data.home.secondary_links }}
                <a role="listitem" href="{{.href}}" class="flex flex-col justify-center items-center border border-slate-400/10 bg-slate-100/10 hover:opacity-60 rounded-md shadow w-32 aspect-square">
                    <i class="{{.icon}} text-3xl"></i>
                    <span>{{.name}}</span>
                </a>
                {{ end }}
            </ul>
        </section>
    </div>

    {{ $script := resources.Get "/js/home.js" }}
    {{ if not .Site.IsServer }}
        {{ $script = $script | minify | fingerprint }}
    {{ end }}
    <script src="{{$script.Permalink}}"></script>
</main>
{{ end }}
