@mixin single-home {
    .avatar-container {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            border-radius: 50%;
            border: 1px solid v("text-color");
            max-width: 96px;
            max-height: 96px;
        }
    }

    .header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 1em;

        margin: 2rem 0;

        pre {
            font-family: "Courier New", Courier, monospace;
            line-height: 1em;
            white-space: pre;
            font-size: 0.6rem;
        }
    }
    
    .container {
    }

    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(7rem, max-content));
        
        padding: 0;
        grid-gap: 2rem;
        justify-content: center;
    }

    .link {
        transition: 0.3s;

        width: 5rem;
        aspect-ratio: 1;
        overflow: hidden;

        text-decoration: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        align-items: center;

        font-size: 1.2rem;

        border: 1px solid v("link-color");
        border-radius: 3px;

        list-style: none;
        padding: 1rem;

        &:hover {
            background-color: unset;
        }

        i {
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 600px) {
        #ascii {
            display: none;
        }
    }
}
