@mixin single-log {
    .checkboxes {
        display: block;
        label {
            white-space: nowrap;
        }
    }

    .projects-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 2rem 1rem;

        & > li {
            list-style: none;
        }

    }

    ul[aria-label="projects"] {
        //.project {
        //    .type, .date {
        //        font-size: 0.8rem;
        //        color: v("background-color");
        //        padding: 0.1rem;
        //        background-color: v("base-color");
        //        border-radius: 0.3em;
        //    }
        //}

        & ul[aria-label="detalhes"] {
            padding: 0;
            display: block;

            & > li {
                display: inline;
                font-size: 0.8rem;
                color: v("background-color");
                padding: 0.1rem;
                background-color: v("base-color");
                border-radius: 0.3em;
            }

            .wip {
                background: v("background-color");
                animation: rainbow 2.5s linear;
                animation-iteration-count: infinite;

                &::before {
                    content: "{";
                }

                &::after {
                    content: "}";
                }
            }
        }
    }

    ul[aria-label="tecnologias"] {
        padding: 0;
        & li {
            display: inline;
            font-size: 0.8rem;
            text-decoration: {
                line: underline;
                style: dotted;
                color: v("accent-color");
            }
        }
    }

    .not-filtered {
        display: none;
    }
}
