@mixin single-log {
    ul {
        padding: 0;
    }

    li {
        list-style: none;
    }

    .checkboxes {
        display: block;
        label {
            white-space: nowrap;
        }
    }

    .projects-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 1rem;

        & > li {
            display: grid;
            position: relative;
        }

    }

    ul[aria-label="links"] {
        padding-left: 1.5rem;
        li {
            list-style: disc;
        }
    }

    ul[aria-label="projects"] {
        & > li {
            border-radius: 0.3em;
            opacity: 0.8;
            background: v("background-color-pre");
            color: v("text-color-pre");
            padding: 1rem;
        }
        & ul[aria-label="detalhes"] {
            display: block;

            & > li {
                display: inline;
                font-size: 0.8rem;
                border-radius: 0.3em;
            }

        }
    }

    ul[aria-label="tecnologias"] {
        & li {
            display: inline;
            font-size: 0.8rem;
            text-decoration: {
                line: underline;
                style: dotted;
                color: v("accent-color");
            }

            &:not(:first-child) {
                margin-left: 0.3em;
            }
        }
    }

    ul.started-at {
        font-style: italic;
        opacity: 0.2;
        position: absolute;
        bottom: 0;
        right: 0.2rem;
    }

    .not-filtered {
        display: none;
    }

    .wip {
        animation: rainbow 2.5s linear;
        animation-iteration-count: infinite;

        &::before {
            content: "{";
        }

        &::after {
            content: "}";
        }
    }
}
